
html {
    text-align: center;
}
body {font-family: "Reddit Sans", sans-serif;
    padding-top: 0px;
    background-color: white;
    display: inline-block;
    text-align: left;    
    line-height: 21px;
    max-width: 1320px;
}

h2 {
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

.title_line{
    position: sticky;
    top: 0;
    background-color: #3dc296;
    height: 100px;
    width: 95vw;
    max-width: 1320px;
    margin: auto;
}

.frog_pic{height: 100px;
          width: auto;
          float: left;
            }

.frog_imp{height: 225px;
    width: auto;
    float: right;
        }

.title{float: left;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-left: 5px;}

.main_tabsets{
    padding-top: 78px;
}

.banner_top{
    background-color: #32805b;
    height: 8px;
}

.banner_bottom{
    background-color: #32805b;
    height: 4px;
}

button {
    float:right;
    background-color:aquamarine;
    color: black;
    border-radius: 4px;
    font-size: 14px;
    border: 2px solid #3dc296;
    padding: 5px;
}

button:hover{
    border: 2px solid gray;
    cursor:pointer;
}
.w3-red{
    background-color: honeydew;
}

#impressum {
    padding-left: 50px;
    padding-right: 50px;
}

#datenschutz {
    padding-left: 50px;
    padding-right: 50px;
}

.footer_main{
    background-color: HoneyDew;
}

.link_frog{
    color: #3dc296;
    cursor: pointer;
    text-decoration: none;
}

.link_frog:hover{
    color: #32805b;
    text-decoration: underline;
}

.footer_mail{
    display: none;
}

.link_frog:hover + .footer_mail{
    display: inline;
}

@media only screen and (orientation: portrait) {
    .title_line{
        position: absolute;
}